<header>
  <div class="wrapper">
    <div class="inner clearfix header-line">
      <h1><a href="/">{{ site.title }}</a></h1>
      <nav>
        <ul>
          {% assign pages = site.pages | sort:"url" %}
          {% for p in pages order:ascending %}
            {% if p.navigable == true %}
              <li {% if p.permalink == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
