<meta charset="utf-8">
<meta name="description" content="{{ page.description }}">
<link rel="canonical" href="https://michal.svab.net{{ page.permalink }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="/touch-icon-iphone.png">
<link rel="stylesheet" type="text/css" media="all" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400">
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/main.css">
