<meta charset="utf-8">
<meta name="description" content="{{ page.description }}">
<link rel="canonical" href="http://michal.svab.net{{ page.permalink }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} - {{ site.name }}</title>
<link rel=”shortcut icon” type=”image/x-icon” href=”/favicon.ico”>
<link rel=”apple-touch-icon” sizes=”114×114″ href=”/touch-icon-114×114.png”>
<link rel=”apple-touch-icon” sizes=”72×72″ href=”/touch-icon-72×72.png”>
<link rel=”apple-touch-icon” href=”/touch-icon-iphone.png”>
<link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400">
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/main.css">
<script src="/assets/js/html5shiv.js"></script>
