$font-main:         'Ubuntu', sans-serif;
$font-bolder:       400;
$font-light:        300;

$primary-color:     #333;
$secondary-color:   #214583;
$background-color:  #fff;

$footer-color:      #9c9c9c;
$footer-bg-color:   #f6f6f6;
