$font-main:         'Ubuntu', sans-serif;
$font-bolder:       400;
$font-light:        300;

$primary-color:     rgb(44, 62, 80);
$secondary-color:   rgb(41, 128, 185);
$background-color:  #fff;

$footer-color:      #9c9c9c;
$footer-bg-color:   #f6f6f6;

$phone: "only screen and (max-width : 480px)";
$retina-phone: "only screen and (max-width : 780px)";

@mixin icon($icon) {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: $icon;
  }
}
