html {
  font-size: 62.5%;
  height: 100%;

  @media #{$phone} {
    font-size: 45%;
  }

  @media #{$retina-phone} {
    font-size: 55%;
  }
}

body {
  background: $background-color;
  font-family: $font-main;
  font-weight: $font-light;
  font-style: normal;
  font-size: 1.4rem;
  color: $primary-color;

  @include flexbox;
  @include align-items(flex-start);
  @include flex-wrap(wrap);

  margin: 0;
  height: 100%;
  width: 100%;
}

header, section, footer {
  @include flex(1 100%);
}

header {
  @include align-self(flex-start);
}

section {
  @include align-self(stretch);
}

footer {
  @include align-self(flex-end);
}

a, :link, :visited {
  color: $primary-color;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 880px;

  .inner {
    padding: 0 8rem;

    @media #{$phone} {
      padding: 0 1rem;
    }

    @media #{$retina-phone} {
      padding: 0 2rem;
    }
  }
}

header {
  font-weight: 400;
  font-size: 2.6rem;
  text-transform: uppercase;

  h1 {
    font-weight: $font-bolder;
    font-size: 2.6rem;
    text-transform: uppercase;
    float: left;
  }

  .header-line {
    border-bottom: 3px solid $secondary-color;
  }

  nav {
    float: right;

    ul {
      padding: 0;
      margin: 0;
      margin-right: -0.77em;

      li {
        padding: 0.67em;
        float: left;

        &:hover {
          background-color: $footer-bg-color;
        }

        &.active {
          background-color: $secondary-color;

          a {
            color: white;
          }
        }
      }
    }
  }
}

footer {
  background-color: $footer-bg-color;
  color: $footer-color;
  padding: 1rem 0 1rem 0;

  h3 {
    text-transform: uppercase;
    font-size: 2rem;
  }

  a {
    font-weight: $font-bolder;
  }

  .contact {
    float: left;
    width: 40%;

    @media #{$retina-phone} {
      width: auto;
    }
  }
}

section {
  padding: 5rem 0;

  h2 {
    color: $secondary-color;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 0;
  }

  p {
    font-size: 2rem;
  }

  a, :link, :visited {
    color: $secondary-color;
  }

  .feature {
    margin: auto;

    h2 {
      font-size: 6rem;
    }
  }

  .contact-links {
    margin-top: 5rem;

    a {
      display: inline-block;
      width: 32.5%;
      text-align: center;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      font-size: 6rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &.email:before {
        content: "\f0e0";
      }

      &.linkedin:before {
        content: "\f0e1";
      }

      &.twitter:before {
        content: "\f099";
      }
    }
  }

  .timeline {
    list-style: none;
    margin: 50px 0 30px 120px;
    padding-left: 30px;
    border-left: 8px solid $secondary-color;

    li {
      margin: 40px 0;
      position: relative;

      input[type="radio"] {
        display: none;
      }

      .event-title {
        .date {
          margin-top: -10px;
          top: 50%;
          left: -158px;
          font-size: 2rem;
          line-height: 20px;
          position: absolute;
        }

        .circle {
          margin-top: -10px;
          top: 50%;
          left: -44px;
          width: 10px;
          height: 10px;
          background: $background-color;
          border: 5px solid $secondary-color;
          border-radius: 50%;
          display: block;
          position: absolute;
        }

        label {
          font-size: 2.3rem;
          font-weight: 400;
          position: absolute;
          z-index: 100;
          cursor: pointer;
          top: 20px;
          left: 22px;
        }
      }

      .event-desc {
        padding: 35px 20px 0;
        border: 2px solid $secondary-color;
        border-radius: 0.5em;
        position: relative;
        margin-right: 20px;

        &:before, &:after {
          content: "";
          width: 0;
          height: 0;
          border: solid transparent;
          position: absolute;
          pointer-events: none;
          right: 100%;
        }

        &:before {
          border-right-color: inherit;
          border-width: 20px;
          top: 50%;
          margin-top: -20px;
        }

        &:after {
          border-right-color: $secondary-color;
          border-width: 17px;
          top: 50%;
          margin-top: -17px;
        }

        p {
          text-align: justify;
          word-break: break-word;
          hyphens: auto;
        }
      }
    }
  }
}
